 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/images/edabdbec-bd8e-4b4c-999b-6af513d33315.JPG");
  background-position: 50% 28.01%;
}

.u-section-1 .u-sheet-1 {
  min-height: 711px;
}

.u-section-1 .u-text-1 {
  font-size: 1.53333rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  margin: 259px 0 0 20px;
}

.u-section-1 .u-text-2 {
  transition-duration: 0.5s;
  font-weight: 100;
  margin: 13px 142px 0 162px;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  font-size: 3.5rem;
  font-weight: 100;
  margin: -139px 491px 0 525px;
}

.u-section-1 .u-btn-1 {
  transition-duration: 0.5s;
  letter-spacing: 1px;
  font-family: Aileron-Thin;
  text-transform: none;
  border-style: solid;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 139px 432px 60px auto;
  padding: 10px 108px 10px 106px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-1 .u-text-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: 42px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 391px;
    margin-left: 425px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 141px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 281px;
    margin-left: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-1 .u-text-3 {
    width: 124px;
    margin-top: -122px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 118px;
    margin-bottom: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 318px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.73333rem;
    margin-top: -103px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 95px;
    margin-bottom: 40px;
    padding-right: 43px;
    padding-left: 42px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-3.u-text-3.u-text-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-text-3.u-text-3.u-text-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: linear-gradient(#ede7e6, #f6f4f3);
}

.u-section-2 .u-sheet-1 {
  min-height: 460px;
}

.u-section-2 .u-group-1 {
  width: 796px;
  min-height: 372px;
  height: auto;
  margin: 44px auto;
}

.u-section-2 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.53333rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 13px -172px 0;
}

.u-section-2 .u-countdown-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 30px 112px;
}

.u-section-2 .u-countdown-item-1 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-1 {
  font-size: 4.5rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-number-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-number-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-label-1 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-2 .u-countdown-separator-1 {
  font-size: 4.5rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-item-2 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-2 {
  font-size: 4.5rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-number-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-number-4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-number-5 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-label-2 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-2 .u-countdown-separator-2 {
  font-size: 4.5rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-item-3 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-3 {
  font-size: 4.5rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-number-6 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-number-7 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-label-3 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-2 .u-countdown-separator-3 {
  font-size: 4.5rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-item-4 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-4 {
  font-size: 4.5rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-number-8 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-number-9 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-label-4 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-2 .u-countdown-separator-4 {
  font-size: 4.5rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-item-5 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-5 {
  font-size: 4.5rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-number-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-number-11 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-label-5 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-2 .u-countdown-separator-5 {
  font-size: 4.5rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-item-6 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-6 {
  font-size: 4.5rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-number-12 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-number-13 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-number-14 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-number-15 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-number-16 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-label-6 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-2 .u-btn-1 {
  transition-duration: 0.5s;
  letter-spacing: 1px;
  text-transform: none;
  font-family: Aileron-Thin;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 35px 127px 0 auto;
  padding: 10px 69px;
}

.u-section-2 .u-btn-2 {
  transition-duration: 0.5s;
  letter-spacing: 1px;
  font-family: Aileron-Thin;
  border-style: none;
  text-transform: none;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -44px auto 0 113px;
  padding: 9px 56px 11px 54px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-btn-1 {
    font-weight: 500;
  }

  .u-section-2 .u-btn-2 {
    font-weight: 500;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 31px;
    margin-bottom: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-countdown-counter-1 {
    font-size: 3.73333rem;
  }

  .u-section-2 .u-countdown-separator-1 {
    font-size: 3.73333rem;
  }

  .u-section-2 .u-countdown-counter-2 {
    font-size: 3.73333rem;
  }

  .u-section-2 .u-countdown-separator-2 {
    font-size: 3.73333rem;
  }

  .u-section-2 .u-countdown-counter-3 {
    font-size: 3.73333rem;
  }

  .u-section-2 .u-countdown-separator-3 {
    font-size: 3.73333rem;
  }

  .u-section-2 .u-countdown-counter-4 {
    font-size: 3.73333rem;
  }

  .u-section-2 .u-countdown-separator-4 {
    font-size: 3.73333rem;
  }

  .u-section-2 .u-countdown-counter-5 {
    font-size: 3.73333rem;
  }

  .u-section-2 .u-countdown-separator-5 {
    font-size: 3.73333rem;
  }

  .u-section-2 .u-countdown-counter-6 {
    font-size: 3.73333rem;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 51px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 57px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-countdown-1 {
    padding: 22px 34px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 33px;
    margin-right: 52px;
    padding-right: 40px;
    padding-left: 38px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -45px;
    margin-left: 56px;
    padding-right: 30px;
    padding-left: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 58px;
    margin-bottom: 25px;
    min-height: 406px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-2 .u-countdown-1 {
    margin-top: 33px;
    padding: 0 6px;
  }

  .u-section-2 .u-countdown-counter-1 {
    font-size: 1.86667rem;
  }

  .u-section-2 .u-countdown-separator-1 {
    font-size: 1.86667rem;
  }

  .u-section-2 .u-countdown-counter-2 {
    font-size: 1.86667rem;
  }

  .u-section-2 .u-countdown-separator-2 {
    font-size: 1.86667rem;
  }

  .u-section-2 .u-countdown-counter-3 {
    font-size: 1.86667rem;
  }

  .u-section-2 .u-countdown-separator-3 {
    font-size: 1.86667rem;
  }

  .u-section-2 .u-countdown-counter-4 {
    font-size: 1.86667rem;
  }

  .u-section-2 .u-countdown-separator-4 {
    font-size: 1.86667rem;
  }

  .u-section-2 .u-countdown-counter-5 {
    font-size: 1.86667rem;
  }

  .u-section-2 .u-countdown-separator-5 {
    font-size: 1.86667rem;
  }

  .u-section-2 .u-countdown-counter-6 {
    font-size: 1.86667rem;
  }

  .u-section-2 .u-btn-1 {
    border-style: none;
    margin-top: 161px;
    margin-right: auto;
    padding: 9px 34px 11px 33px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -115px;
    margin-left: auto;
    padding-right: 26px;
    padding-left: 25px;
  }
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-btn-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-btn-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-2,
.u-section-2 .u-btn-2:before,
.u-section-2 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-btn-2 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-btn-2 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-ef11-58:not([data-block-selected]):not([data-cell-selected]),
.u-block-ef11-58:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ef11-58:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-ef11-58:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-ef11-58:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}@font-face {
  font-family: 'Aileron-Thin';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Aileron-Thin.otf);
}@font-face {
  font-family: 'calgary-serial-extralight-regular';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/calgary-serial-extralight-regular.ttf);
}@font-face {
  font-family: 'Aileron-ThinItalic';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Aileron-ThinItalic.otf);
}