.u-section-1 .u-sheet-1 {
  min-height: 806px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 47px 0 0;
}

.u-section-1 .u-accordion-1 {
  margin: 79px 0 60px;
}

.u-section-1 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-1 {
  font-size: 1.26667rem;
  background-image: none;
  font-weight: normal;
  font-family: Aileron-Thin;
  padding: 15px 30px;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
  background-image: none;
  padding: 2px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 95px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-family: Roboto, sans-serif;
  padding: 0;
}

.u-section-1 .u-accordion-item-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-2 {
  font-size: 1.26667rem;
  background-image: none;
  font-weight: normal;
  font-family: Aileron-Thin;
  padding: 15px 30px;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
  background-image: none;
  padding: 2px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 95px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-3 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-3 {
  font-size: 1.26667rem;
  background-image: none;
  font-weight: normal;
  font-family: Aileron-Thin;
  padding: 15px 30px;
}

.u-section-1 .u-icon-3 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
  background-image: none;
  padding: 2px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 95px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-family: Roboto, sans-serif;
  padding: 0;
}

.u-section-1 .u-accordion-item-4 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-4 {
  font-size: 1.26667rem;
  background-image: none;
  font-weight: normal;
  font-family: Aileron-Thin;
  padding: 15px 30px;
}

.u-section-1 .u-icon-4 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
  background-image: none;
  padding: 2px;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 95px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-5 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-5 {
  font-size: 1.26667rem;
  background-image: none;
  font-weight: normal;
  font-family: Aileron-Thin;
  padding: 15px 30px;
}

.u-section-1 .u-icon-5 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
  background-image: none;
  padding: 2px;
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 95px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-family: Roboto, sans-serif;
  padding: 0;
}

.u-section-1 .u-accordion-item-6 {
  margin: 20px auto 0;
}

.u-section-1 .u-accordion-link-6 {
  font-size: 1.26667rem;
  background-image: none;
  font-weight: normal;
  font-family: Aileron-Thin;
  padding: 15px 30px;
}

.u-section-1 .u-icon-6 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
  background-image: none;
  padding: 2px;
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 95px;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: 84px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-4 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-5 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: 85px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.26667rem;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 603px;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 420px;
  height: auto;
  margin: 83px auto 0 28px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.86667rem;
  margin: 19px 0 0;
}

.u-section-2 .u-image-1 {
  width: 427px;
  height: 427px;
  background-image: url("/images/IMG_1410.jpg");
  background-position: 50% 50%;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -427px 64px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-top: 60px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.53333rem;
    width: auto;
    margin-top: 0;
    margin-right: 96px;
  }

  .u-section-2 .u-image-1 {
    width: 347px;
    height: 347px;
    margin-top: -372px;
    margin-right: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 439px;
    min-height: 382px;
    margin-top: 35px;
  }

  .u-section-2 .u-image-1 {
    width: 295px;
    height: 295px;
    margin-top: -324px;
    margin-right: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 286px;
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.26667rem;
    margin-right: 211px;
  }

  .u-section-2 .u-image-1 {
    width: 192px;
    height: 192px;
    margin-top: -262px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 34px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-right: 11px;
  }

  .u-section-2 .u-image-1 {
    width: 295px;
    height: 295px;
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-top: -53px;
    margin-right: auto;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}@font-face {
  font-family: 'Aileron-Thin';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Aileron-Thin.otf);
}@font-face {
  font-family: 'calgary-serial-extralight-regular';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/calgary-serial-extralight-regular.ttf);
}@font-face {
  font-family: 'Aileron-ThinItalic';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Aileron-ThinItalic.otf);
}